name: Multi-Target MinUI Build

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build'
        required: true
        default: 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [rg35xx, rgb30, miyoomini, default]
    
    steps:
    - name: Clone MinUI
      run: |
        git clone --depth 1 --branch ${{ github.event.inputs.branch }} \
          https://github.com/shauninman/MinUI.git
          
    - name: Build for ${{ matrix.target }}
      run: |
        cd MinUI
        make clean
        if [ "${{ matrix.target }}" != "default" ]; then
          make TARGET=${{ matrix.target }}
        else
          make
        fi
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: minui-${{ matrix.target }}
        path: MinUI/*.zip
